/* RESET */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* ROOT FONT STYLES */
* {
  font-family: 'OpenSans', Helvetica, sans-serif;
  color: #333;
  line-height: 1.5;
}

/* TYPOGRAPHY */
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}

.font-lighter {
  font-weight: 100;
}
.font-regular {
  font-weight: 300;
}
.font-semi-bold {
  font-weight: 500;
}
.font-bold {
  font-weight: 700;
}
.font-bolder {
  font-family: 'OpenSansBolder';
  font-weight: 900;
}

.font-size-1 {
  font-size: 1rem;
}
.font-size-2 {
  font-size: 1.275rem;
}
.font-size-3 {
  font-size: 1.5rem;
  line-height: 1.7rem;
}
.font-size-4 {
  font-size: 1.75rem;
  line-height: 2rem;
}

.text-white {
  color: #fff;
}
ol,
ul {
  list-style: none;
  padding: 0;
}



/* POSITIONING */
.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.t-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.t-justify {
  text-align: justify;
}

.f-right {
  float: right !important;
}
.f-left {
  float: left !important;
}
.f-none {
  float: none !important;
}

/* DISPLAY */
.d-b {
  display: block;
}

.d-i {
  display: inline;
}

.d-ib {
  display: inline-block;
}

/* FLEX */
.d-f {
  display: flex;
}
.f-align-center {
  align-items: center;
}
.f-align-top {
  align-items: flex-start;
}
.f-align-bottom {
  align-items: flex-end;
}
.f-justify-center {
  justify-content: center;
}
.f-justify-left {
  justify-content: left;
}
.f-justify-right {
  justify-content: right;
}
.flex-item-top {
  align-self: flex-start;
}
.flex-item-center {
  align-self: center;
}
.flex-item-bottom {
  align-self: flex-end;
}
.flex-item-left {
  justify-self: left;
}
.flex-item-center {
  justify-self: center;
}
.flex-item-right {
  justify-self: right;
}

/* MARGIN - PADDING */
.ml3,
.mx3,
.m3 {
  margin-left: 45px;
}
.mr3,
.mx3,
.m3 {
  margin-right: 45px;
}
.mt3,
.my3,
.m3 {
  margin-top: 45px;
}
.mb3,
.my3,
.m3 {
  margin-bottom: 45px;
}

.ml2,
.mx2,
.m2 {
  margin-left: 25px;
}
.mr2,
.mx2,
.m2 {
  margin-right: 25px;
}
.mt2,
.my2,
.m2 {
  margin-top: 25px;
}
.mb2,
.my2,
.m2 {
  margin-bottom: 25px;
}

.ml1,
.mx1,
.m1 {
  margin-left: 10px;
}
.mr1,
.mx1,
.m1 {
  margin-right: 10px;
}
.mt1,
.my1,
.m1 {
  margin-top: 10px;
}
.mb1,
.my1,
.m1 {
  margin-bottom: 10px;
}

.ml0,
.mx0,
.m0 {
  margin-left: 0 !important;
}
.mr0,
.mx0,
.m0 {
  margin-right: 0 !important;
}
.mt0,
.my0,
.m0 {
  margin-top: 0 !important;
}
.mb0,
.my0,
.m0 {
  margin-bottom: 0 !important;
}

.pl3,
.px3,
.p3 {
  padding-left: 45px;
}
.pr3,
.px3,
.p3 {
  padding-right: 45px;
}
.pt3,
.py3,
.p3 {
  padding-top: 45px;
}
.pb3,
.py3,
.p3 {
  padding-bottom: 45px;
}

.pl2,
.px2,
.p2 {
  padding-left: 25px;
}
.pr2,
.px2,
.p2 {
  padding-right: 25px;
}
.pt2,
.py2,
.p2 {
  padding-top: 25px;
}
.pb2,
.py2,
.p2 {
  padding-bottom: 25px;
}

.pl1,
.px1,
.p1 {
  padding-left: 10px;
}
.pr1,
.px1,
.p1 {
  padding-right: 10px;
}
.pt1,
.py1,
.p1 {
  padding-top: 10px;
}
.pb1,
.py1,
.p1 {
  padding-bottom: 10px;
}

.pl0,
.px0,
.p0 {
  padding-left: 0 !important;
}
.pr0,
.px0,
.p0 {
  padding-right: 0 !important;
}
.pt0,
.py0,
.p0 {
  padding-top: 0 !important;
}
.pb0,
.py0,
.p0 {
  padding-bottom: 0 !important;
}

.b-radius-3 {
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}
.b-radius-2 {
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.b-radius-1 {
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
.b-radius-0 {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* FORM */
.input-field {
  border: 1px solid #d8e2ee;
  padding: 5px;
  height: 40px;
  width: 100%;
}

@import url('font.css');
